@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|PT+Serif");
body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  background-color: teal;
  display: grid;
  grid-template-rows: 25vh 75vh;
  grid-template-columns: 20vw 60vw 20vw; }
  body header {
    grid-row: 1/2;
    grid-column: 1/end;
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; }
    body header .home {
      width: 18%;
      height: 90%;
      margin-left: 4rem; }
      body header .home img {
        height: 100%; }
    body header nav {
      width: 75%;
      height: 90%;
      margin-right: 4rem;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center; }
      body header nav .dropdown {
        position: relative;
        width: 33%;
        display: inline-block;
        text-align: center; }
        body header nav .dropdown span {
          color: white;
          font-size: 2.5rem;
          font-family: "IM Fell English SC", serif;
          text-align: center;
          cursor: pointer; }
        body header nav .dropdown img {
          margin-left: 0.5rem;
          width: 1.5rem; }
      body header nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 12px 16px;
        margin-left: 4rem; }
        body header nav .dropdown-content a {
          width: 100%;
          color: black;
          font-size: 2rem;
          text-decoration: none;
          font-family: "PT Serif", serif; }
      body header nav .dropdown:hover .dropdown-content {
        display: block; }

main {
  height: 75vh;
  grid-row: 2/end;
  grid-column: 1/end;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10vw 80vw 10vw; }
  main .title {
    grid-row: 1/end;
    grid-column: 1/2;
    width: 80%;
    align-self: center;
    justify-self: center; }

#project-container {
  overflow-y: scroll;
  grid-row: 1/end;
  grid-column: 2/end;
  margin-left: 2rem;
  margin-right: 4rem;
  width: 90%;
  height: 95%;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  align-items: center; }

.box {
  border: black solid 5px;
  background-color: white;
  width: 45%;
  height: 30vh;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-around; }
  .box h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: teal;
    font-size: 2rem;
    font-family: "IM Fell English SC", serif;
    text-align: center; }

.info {
  width: 100%;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 30% 70%; }

#logo {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 6rem;
  align-self: center;
  justify-self: center; }

#describe {
  grid-row: 1/2;
  grid-column: 2/end;
  font-size: 1rem;
  margin-right: 1rem;
  font-family: "PT Serif", serif;
  text-align: left;
  align-self: center;
  justify-self: center; }

#tech {
  grid-row: 2/3;
  grid-column: 2/end;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bolder;
  font-family: "PT Serif", serif;
  align-self: center;
  justify-self: center; }

#link {
  grid-row: 3/end;
  grid-column: 1/end;
  font-size: 1rem;
  margin-top: 1rem;
  color: teal;
  text-decoration: none;
  align-self: center;
  justify-self: start;
  margin-left: 2rem;
  margin-bottom: 1rem; }
  #link :visited {
    color: black; }

#git {
  grid-row: 3/end;
  grid-column: 1/end;
  font-size: 1rem;
  margin-top: 1rem;
  color: teal;
  text-decoration: none;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
  margin-bottom: 1rem; }
  #git :visited {
    color: black; }

#mapid {
  grid-row: 1/end;
  grid-column: 2/end;
  align-self: center;
  justify-self: center;
  height: 90%;
  width: 90%; }

.education-container {
  margin-top: 0.5rem;
  grid-row: 1/end;
  grid-column: 2/end;
  margin-left: 2rem;
  margin-right: 4rem;
  width: 90%;
  height: 70vh;
  background-image: url("/assets/educationbanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }

#galvanize {
  grid-row: 1/6;
  grid-column: 2/5;
  cursor: pointer; }

#centenary {
  grid-row: 2/4;
  grid-column: 6/10;
  cursor: pointer; }

#sju {
  grid-row: 8/10;
  grid-column: 4/8;
  cursor: pointer; }

#galvanize-info {
  grid-row: 2/10;
  grid-column: 5/10;
  display: none; }
  #galvanize-info img {
    width: 8rem; }

#centenary-info {
  grid-row: 2/10;
  grid-column: 2/7;
  display: none; }
  #centenary-info img {
    width: 10rem; }

#sju-info {
  grid-row: 2/7;
  grid-column: 2/10;
  display: none; }
  #sju-info img {
    width: 13rem; }

#galvanize-info,
#centenary-info,
#sju-info {
  border: solid black 5px;
  background-color: white;
  grid-template-rows: 10% 30% 10% 10% 40%;
  grid-template-columns: 50% 50%; }
  #galvanize-info .close,
  #centenary-info .close,
  #sju-info .close {
    grid-row: 1/2;
    grid-column: 1/3;
    justify-self: end;
    align-self: start;
    width: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer; }
  #galvanize-info img,
  #centenary-info img,
  #sju-info img {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center; }
  #galvanize-info h1,
  #centenary-info h1,
  #sju-info h1 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 2.3rem;
    font-family: "IM Fell English SC", serif;
    justify-self: center;
    align-self: center;
    text-align: center; }
  #galvanize-info h2,
  #centenary-info h2,
  #sju-info h2 {
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: 1.3rem;
    font-family: "PT Serif", serif;
    justify-self: center;
    align-self: center; }
  #galvanize-info h3,
  #centenary-info h3,
  #sju-info h3 {
    grid-row: 4/5;
    grid-column: 1/3;
    font-size: 1.1rem;
    font-family: "PT Serif", serif;
    justify-self: center;
    align-self: center; }
  #galvanize-info p,
  #centenary-info p,
  #sju-info p {
    grid-row: 5/6;
    grid-column: 1/3;
    font-size: 1rem;
    font-family: "PT Serif", serif;
    justify-self: center;
    align-self: center;
    text-align: center; }

.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 2s; }

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }
@media only screen and (max-width: 767px) {
  body {
    height: 135vh;
    width: 100vw;
    grid-template-rows: 55vh 80vh;
    grid-template-columns: 100vw; }
    body header {
      grid-row: 1/2;
      grid-column: 1/end;
      flex-flow: column;
      justify-content: center; }
      body header .home {
        height: 20%;
        margin-left: 0rem;
        margin-top: 0.5rem; }
      body header nav {
        width: 100%;
        height: 80%;
        margin-top: 1rem;
        margin-right: 0rem;
        flex-flow: column;
        justify-content: center; }
        body header nav .dropdown {
          width: 100%;
          height: 33%; }
          body header nav .dropdown span {
            font-size: 2rem; }
        body header nav .dropdown-content {
          margin-left: 8rem; }
          body header nav .dropdown-content a {
            font-size: 1rem; }

  main {
    height: 80vh;
    grid-row: 2/3;
    grid-column: 1/end;
    grid-template-rows: 100%;
    grid-template-columns: 100vw; }
    main .title {
      grid-row: 1/end;
      grid-column: 1/2;
      width: 20%;
      align-self: start;
      justify-self: start;
      float: left; }

  #project-container {
    grid-column: 1/2;
    margin: 1rem 0rem 0rem 2rem;
    width: 100%; }

  .box {
    width: 70%;
    margin: 3rem 0rem 0rem 0rem; }
    .box h1 {
      font-size: 1.5rem; }

  #logo {
    width: 4rem;
    align-self: start; }

  #describe {
    font-size: 0.75rem;
    text-align: left; }

  #tech {
    font-size: 0.8rem;
    margin-top: 1rem; }

  #link {
    font-size: 0.75rem;
    margin: 1rem 0rem 1rem 1rem; }

  #git {
    margin: 1rem 1rem 1rem 0rem;
    font-size: 0.75rem; }

  #mapid {
    grid-row: 1/end;
    grid-column: 1/2;
    margin-left: 3.5rem;
    width: 75%; }

  .education-container {
    margin-top: 0rem;
    margin-left: 4.5rem;
    margin-right: 0rem;
    grid-column: 1/2;
    width: 80%;
    height: 70%;
    background-image: url("/assets/educationbanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }

  #galvanize {
    grid-row: 3/6;
    grid-column: 1/5; }

  #centenary {
    grid-row: 3/5;
    grid-column: 7/11; }

  #sju {
    grid-row: 7/9; }

  #galvanize-info {
    grid-column: 2/10; }
    #galvanize-info img {
      width: 5rem; }

  #centenary-info {
    grid-column: 2/10; }
    #centenary-info img {
      width: 6rem; }

  #sju-info {
    grid-row: 2/10; }
    #sju-info img {
      width: 6rem; }

  #galvanize-info .close,
  #centenary-info .close,
  #sju-info .close {
    width: 1 rem; }
  #galvanize-info h1,
  #centenary-info h1,
  #sju-info h1 {
    font-size: 1.5rem; }
  #galvanize-info h2,
  #centenary-info h2,
  #sju-info h2 {
    font-size: 1 rem; }
  #galvanize-info h3,
  #centenary-info h3,
  #sju-info h3 {
    font-size: 0.8rem; }
  #galvanize-info p,
  #centenary-info p,
  #sju-info p {
    font-size: 0.7rem;
    margin: 0rem 0.5rem; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body header {
    justify-content: center;
    width: 100vw; }
    body header .home {
      height: 50%;
      margin-left: 1rem; }
    body header nav {
      width: 70%;
      margin-right: 1rem; }
      body header nav .dropdown span {
        font-size: 1.75rem; }
      body header nav .dropdown img {
        width: 1rem; }
      body header nav .dropdown-content {
        margin-left: 0rem; }
        body header nav .dropdown-content a {
          font-size: 1.5rem; }

  main {
    width: 100vw;
    grid-row: 2/end;
    grid-column: 1/2;
    grid-template-columns: 10vw 90vw; }

  #project-container {
    grid-row: 1/end;
    grid-column: 2/3;
    margin-left: 0rem;
    margin-right: 2rem;
    margin-top: 3rem;
    width: 100%; }

  .box {
    width: 70%; }

  #mapid {
    grid-row: 1/end;
    grid-column: 2/end;
    align-self: center;
    justify-self: center;
    height: 90%;
    width: 90%; }

  #galvanize {
    grid-row: 3/6;
    grid-column: 1/5; }

  #centenary {
    grid-row: 3/5;
    grid-column: 7/11; }

  #sju {
    grid-row: 7/9; }

  #galvanize-info {
    grid-column: 2/10; }
    #galvanize-info img {
      width: 7rem; }

  #centenary-info {
    grid-column: 2/10; }
    #centenary-info img {
      width: 8rem; }

  #sju-info {
    grid-row: 2/10; }
    #sju-info img {
      width: 8rem; }

  #galvanize-info p,
  #centenary-info p,
  #sju-info p {
    margin: 0rem 1rem; } }

/*# sourceMappingURL=global.css.map */
