@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|PT+Serif');
$main-font: "PT Serif", serif;
$em-font: 'IM Fell English SC', serif;

body{
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  background-color: teal;
  display: grid;
  grid-template-rows: 25vh 75vh;
  grid-template-columns: 20vw 60vw 20vw;

  header {
    grid-row: 1/2;
    grid-column: 1/end;
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    .home {
      width: 18%;
      height: 90%;
      margin-left: 4rem;
      img {
        height: 100%;
      }
    }

    nav {
      width: 75%;
      height: 90%;
      margin-right: 4rem;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;

      .dropdown {
          position: relative;
          width: 33%;
          display: inline-block;
          text-align: center;
          span {
            color: white;
            font-size: 2.5rem;
            font-family: $em-font;
            text-align: center;
            cursor: pointer;
          }
          img {
            margin-left: .5rem;
            width: 1.5rem;
          }
        }
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          padding: 12px 16px;
          margin-left: 4rem;
          a {
            width: 100%;
            color: black;
            font-size: 2rem;
            text-decoration: none;
            font-family: $main-font;
            padding: 20px 0px;
          }
      }

      .dropdown:hover .dropdown-content {
          display: block;
      }
    }
  }
}

main {
  height: 75vh;
  grid-row: 2/end;
  grid-column: 1/end;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10vw 80vw 10vw;

  .title {
    grid-row: 1/end;
    grid-column: 1/2;
    width: 80%;
    align-self: center;
    justify-self: center;
  }
}

#project-container {
  overflow-y: scroll;
  grid-row: 1/end;
  grid-column: 2/end;
  margin-left: 2rem;
  margin-right: 4rem;
  width: 90%;
  height: 95%;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  align-items: center;
}

.box {
  border: black solid 5px;
  background-color: white;
  width: 45%;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-around;

  h1 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: teal;
    font-size: 2rem;
    font-family: $em-font;
    text-align: center;
  }
}

.info {
  width: 100%;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 30% 70%;
}

#logo {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 6rem;
  align-self: center;
  justify-self: center;
}

#describe {
  grid-row: 1/2;
  grid-column: 2/end;
  font-size: 1rem;
  font-family: $main-font;
  text-align: center;
  align-self: center;
  justify-self: center;
}

#tech {
  grid-row: 2/3;
  grid-column: 2/end;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bolder;
  font-family: $main-font;
  align-self: center;
  justify-self: center;
}

#link {
  grid-row: 3/end;
  grid-column: 1/end;
  font-size: 1rem;
  margin-top: 1rem;
  color: teal;
  text-decoration: none;
  align-self: center;
  justify-self: start;
  margin-left: 2rem;
  margin-bottom: 1rem;

  :visited {
    color: black;
  }
}

#git {
  grid-row: 3/end;
  grid-column: 1/end;
  font-size: 1rem;
  margin-top: 1rem;
  color: teal;
  text-decoration: none;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
  margin-bottom: 1rem;

  :visited {
    color: black;
  }
}

#mapid {
  grid-row: 1/end;
  grid-column: 2/end;
  align-self: center;
  justify-self: center;
  height: 90%;
  width: 90%;
}

.education-container {
  margin-top: .5rem;
  grid-row: 1/end;
  grid-column: 2/end;
  margin-left: 2rem;
  margin-right: 4rem;
  width: 90%;
  height: 70vh;
  background-image: url("/assets/educationbanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#galvanize {
  grid-row: 1/6;
  grid-column: 2/5;
  cursor: pointer;
}

#centenary {
  grid-row: 2/4;
  grid-column: 6/10;
  cursor: pointer;
}

#sju {
  grid-row: 8/10;
  grid-column: 4/8;
  cursor: pointer;
}


#galvanize-info {
  grid-row: 2/10;
  grid-column: 5/10;
  display: none;
  img {
    width: 8rem;
  }
}

#centenary-info {
  grid-row: 2/10;
  grid-column: 2/7;
  display: none;
  img {
    width: 10rem;
  }
}

#sju-info {
  grid-row: 2/7;
  grid-column: 2/10;
  display: none;
  img {
    width: 13rem;
  }
}

#galvanize-info, #centenary-info, #sju-info {
  border: solid black 5px;
  background-color: white;
  grid-template-rows: 10% 30% 10% 10% 40%;
  grid-template-columns: 50% 50%;

  .close{
    grid-row: 1/2;
    grid-column: 1/3;
    justify-self: end;
    align-self: start;
    width: 1.5rem;
    margin-top: .5rem;
    margin-right: .5rem;
    cursor: pointer;
  }
  img {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
  }
  h1 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 2.3rem;
    font-family: $em-font;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  h2 {
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: 1.3rem;
    font-family: $main-font;
    justify-self: center;
    align-self: center;
  }
  h3 {
    grid-row: 4/5;
    grid-column: 1/3;
    font-size: 1.1rem;
    font-family: $main-font;
    justify-self: center;
    align-self: center;
  }
  p {
    grid-row: 5/6;
    grid-column: 1/3;
    font-size: 1rem;
    font-family: $main-font;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
}


.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 2s;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}
