@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|PT+Serif");
body {
  overflow: hidden;
  height: 300vh;
  background-color: black;
  overflow: auto;
  display: grid;
  grid-template-rows: 50vh 25vh 25vh;
  grid-template-columns: 33vw 33vw 33vw; }
  body nav {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    height: 80%;
    display: none;
    flex-flow: row;
    justify-content: space-around;
    align-items: center; }
    body nav .dropdown {
      position: relative;
      width: 33%;
      display: inline-block;
      text-align: center; }
      body nav .dropdown span {
        color: white;
        font-size: 4rem;
        font-family: "IM Fell English SC", serif;
        text-align: center;
        cursor: pointer; }
      body nav .dropdown img {
        margin-left: 0.5rem;
        width: 1.5rem; }
    body nav .dropdown-content {
      display: none;
      position: absolute;
      width: 80%;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 12px 16px;
      margin-left: 4rem; }
      body nav .dropdown-content a {
        width: 100%;
        color: black;
        font-size: 2rem;
        text-decoration: none;
        font-family: "PT Serif", serif;
        padding: 20px 0; }
    body nav .dropdown:hover .dropdown-content {
      display: block; }

.parallax {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1; }

.banner {
  grid-row: 1/end;
  grid-column: 1/end;
  display: flex;
  flex-flow: row;
  justify-content: center; }

.banner-final {
  grid-row: 1/2;
  grid-column: 1/end;
  display: flex;
  flex-flow: row;
  justify-content: center; }

#logo {
  width: 25rem;
  position: fixed; }

#name {
  font-size: 7.5rem;
  font-family: "PT Serif", serif;
  color: black;
  margin-top: 50vh;
  position: fixed;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }

#arrow {
  width: 20rem;
  position: fixed;
  margin-top: 75vh;
  z-index: 1; }

.fadeIn {
  animation-duration: 2s;
  animation-name: fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeOut {
  animation-duration: 2s;
  animation-name: fadeOut; }

.fadeInSlow {
  animation-duration: 6s;
  animation-name: fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeOut {
  animation-duration: 2s;
  animation-name: fadeOut; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.flipInX {
  backface-visibility: visible !important;
  animation-duration: 2s;
  animation-name: flipInX; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
    animation-timing-function: ease-in;
    opacity: 1; }
  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -30deg);
    opacity: 1; }
  to {
    transform: perspective(400px); } }
.footer {
  position: relative;
  z-index: 0;
  height: 25vh;
  width: 100vw;
  background-color: teal;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33%; }

.footer-absolute {
  position: absolute;
  height: 25vh;
  width: 100vw;
  background-color: teal;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33%; }

.location {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center; }
  .location img {
    width: 2rem;
    margin-left: 4rem;
    margin-right: 2rem; }
  .location p {
    font-size: 1.7rem;
    font-family: "PT Serif", serif;
    color: white; }

.phone {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center; }
  .phone img {
    width: 2rem;
    margin-left: 4rem;
    margin-right: 2rem; }
  .phone a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "PT Serif", serif;
    color: white; }

.email {
  grid-row: 1/2;
  grid-column: 3/end;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center; }
  .email img {
    width: 2rem;
    margin-left: 4rem;
    margin-right: 2rem; }
  .email a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "PT Serif", serif;
    color: white; }

.linkin {
  grid-row: 2/end;
  grid-column: 1/2;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center; }
  .linkin img {
    width: 2rem;
    margin-left: 4rem;
    margin-right: 2rem; }
  .linkin a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "PT Serif", serif;
    color: white; }

.github {
  grid-row: 2/end;
  grid-column: 2/3;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center; }
  .github img {
    width: 2rem;
    margin-left: 4rem;
    margin-right: 2rem; }
  .github a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "PT Serif", serif;
    color: white; }

.resume {
  grid-row: 2/end;
  grid-column: 3/end;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center; }
  .resume img {
    width: 2rem;
    margin-left: 4rem;
    margin-right: 2rem; }
  .resume a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "PT Serif", serif;
    color: white; }

.hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  body {
    height: 150vh;
    grid-template-rows: 22vh 60vh 68vh;
    grid-template-columns: 100%;
    background-image: url("../assets/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain; }
    body .banner {
      grid-row: 1/2;
      grid-column: 1/2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
    body nav {
      display: grid;
      grid-row: 2/3;
      grid-column: 1/2;
      flex-flow: column nowrap;
      justify-content: space-around;
      height: 100%; }
      body nav .dropdown {
        width: 100%; }
        body nav .dropdown span {
          font-size: 2rem; }
        body nav .dropdown img {
          width: 0.5rem; }
      body nav .dropdown-content {
        margin-left: 0; }
        body nav .dropdown-content a {
          font-size: 1rem; }

  .parallax {
    display: none; }

  #logo {
    position: relative;
    width: 10rem;
    z-index: -1;
    margin-left: 1rem; }

  #name {
    position: relative;
    font-size: 2.5rem;
    margin-top: 0;
    z-index: 1;
    margin-right: 1rem;
    text-align: right; }

  #arrow {
    display: none; }

  .hidden {
    display: grid; }

  #footer {
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    background-color: teal;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    grid-template-columns: 100%; }

  .location {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .location img {
      margin-left: 0rem; }
    .location p {
      font-size: 1.3rem; }

  .phone {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .phone img {
      margin-left: 0rem; }
    .phone a {
      font-size: 1.3rem; }

  .email {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .email img {
      margin-left: 0rem; }
    .email a {
      font-size: 1.3rem; }

  .linkin {
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .linkin img {
      margin-left: 0rem; }
    .linkin a {
      font-size: 1.3rem; }

  .github {
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .github img {
      margin-left: 0rem; }
    .github a {
      font-size: 1.3rem; }

  .resume {
    grid-row: 6/7;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .resume img {
      margin-left: 0rem; }
    .resume a {
      font-size: 1.3rem; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 30vh 35vh 35vh;
    grid-template-columns: 100%;
    background-image: url("../assets/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain; }
    body .banner {
      grid-row: 1/2;
      grid-column: 1/2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
    body nav {
      display: grid;
      grid-row: 2/3;
      grid-column: 1/2;
      flex-flow: column nowrap;
      justify-content: space-around;
      height: 100%; }
      body nav .dropdown {
        width: 100%; }
        body nav .dropdown span {
          font-size: 2rem; }
        body nav .dropdown img {
          width: 0.5rem; }
      body nav .dropdown-content {
        margin-left: 0; }
        body nav .dropdown-content a {
          font-size: 1.5rem; }

  .parallax {
    display: none; }

  #logo {
    position: relative;
    width: 10rem;
    z-index: -1;
    margin-left: 1rem; }

  #name {
    position: relative;
    font-size: 2.5rem;
    margin-top: 0;
    z-index: 1;
    margin-right: 1rem;
    text-align: right; }

  #arrow {
    display: none; }

  .hidden {
    display: grid; }

  #footer {
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    background-color: teal;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    grid-template-columns: 100%; }

  .location {
    margin-top: 2rem;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .location img {
      margin-left: 0rem; }
    .location p {
      font-size: 1.3rem; }

  .phone {
    margin-top: 2rem;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .phone img {
      margin-left: 0rem; }
    .phone a {
      font-size: 1.3rem; }

  .email {
    margin-top: 2rem;
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .email img {
      margin-left: 0rem; }
    .email a {
      font-size: 1.3rem; }

  .linkin {
    margin-top: 2rem;
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .linkin img {
      margin-left: 0rem; }
    .linkin a {
      font-size: 1.3rem; }

  .github {
    margin-top: 2rem;
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .github img {
      margin-left: 0rem; }
    .github a {
      font-size: 1.3rem; }

  .resume {
    margin-top: 2rem;
    grid-row: 6/7;
    grid-column: 1/2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .resume img {
      margin-left: 0rem; }
    .resume a {
      font-size: 1.3rem; } }

/*# sourceMappingURL=main.css.map */
